PhysX test2/PhysX test2/bin/*
PhysX test2/PhysX test2/obj/*
PhysX test2/PhysX test2Content/bin/*
PhysX test2/PhysX test2Content/obj/*
PhysX test2.suo
_ReSharper.PhysX test2/*
PhysX test2.6.0.ReSharper.user
PhysX test2/PhysX test2PhysX test2.csproj.user